<footer class="pagefooter">
  <div class="container">

    <div class="grid">
      <div class="grid__unit  grid__unit--medium-2of12">

        <p class="imgcontainer">
          <img src="./img/logo.svg" class="fluidimg" alt="Tramway21">
        </p>

      </div><!--
   --><div class="grid__unit  grid__unit--medium-3of12">

        <h3 class="footertitle">Analog</h3>
        <p>
          Tramway21<br>
          Avenue Besme, 107-109<br>
          1190 Bruxelles, Belgique
        </p>
        <ul class="list-stripped">
          <li>T: <a href="fake.html">+32 2 304 25 96</a></li>
          <li>F: <a href="fake.html">+32 2 304 25 99</a></li>
        </ul>

      </div><!--
   --><div class="grid__unit  grid__unit--medium-7of12">

        <h3 class="footertitle">Digital</h3>
        <p>Send us an email at <a href="mailto:info@tramway21.be">info@tramway21.be</a>. Start a conversation on <a href="fake.html">Twitter</a> or follow us on <a href="fake.html">Facebook</a>. We also post what gets us inspired on <a href="fake.html">Pinterest</a>.</p>
        <p>See you soon.</p>
      </div>
    </div>

  </div>
</footer>
