<header class="siteheader">
  <div class="container  clearfix">

    <h1 class="siteheader__logo"><a href="/index.html">Tramway21</a></h1>

    <div class="siteheader__contact">
      <p class="cta-compact"><a href="fake.html">Have a project?<svg class="icon  icon--after" width="16" height="12" viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg"><title>icon_email</title><path d="M4.68 5.334L0 1.694v8.38l4.68-4.74zM15.96 0H.055L8 6.18 15.958 0zm-5.73 6.185L8 7.915 5.768 6.18.018 12h15.953l-5.743-5.815zm1.087-.845L16 10.083v-8.38L11.315 5.34z" fill="#171717" fill-rule="evenodd"/></svg></a></p>
      <p class="cta"><span class="cta__txt">Have a project in mind?</span><a href="fake.html" class="button">Get in touch</a></p>
    </div>

  </div>
</header>
