<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.metatitle %}{{ page.metatitle }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.metadescription %}{{ page.metadescription | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">

  <!-- Typekit async -->
  <script src="//use.typekit.net/fdk6kak.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Picturefill async
  <script>document.createElement( "picture" );</script>
  <script src="/js/vendors/picturefill.min.js" async></script> -->

  <!-- CSS -->
  <link rel="stylesheet" media="screen" href="/css/dist/screen.min.css">

  <!-- Feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml" />
</head>
