/* ==================================
=grid
================================== */

/**
 *
 * gutter between grid units
 * - has to be a fixed value like rem, em or px
 *
 */

$grid-gutter: 2.5em !default;


/**
 *
 * type of classes to use: silent classes or not
 *
 */

$silent-classes: false !default;
$class-type: unquote(".");

@if ($silent-classes == true)
{
	$class-type: unquote("%");
}


/**
 *
 * use pull and pull classes
 *
 */

$use-pushclasses: false !default;
$use-pullclasses: false !default;

/**
 *
 * Default map to generate grid classes for defined media queries
 *
 * Usage
 * - used by media queries mixin
 * - used to namespace grids
 *
 * Nested Lists
 * - first map: names as keys, also used to namespace grid classes
 * - nested map: parameters
 *   - query: full media query
 *   - generate-grid-classes: boolean, are grid classes generated
 *
 * Default dimensions
 * - small: 	500px	  31.25em
 * - medium: 	760px	  47.5em
 * - large: 	1024px	64em
 * - xlarge: 	1140px	71.25em
 */

$mq-list: (
 "small": (
   query: "all and (min-width: 31.25em)",
   generate-grid-classes: false
 ),
 "medium": (
   query: "all and (min-width: 47.5em)",
   generate-grid-classes: false
 ),
 "large": (
   query: "all and (min-width: 64em)",
   generate-grid-classes: false
 ),
 "xlarge": (
   query: "all and (min-width: 71.25em)",
   generate-grid-classes: false
 )
) !default;

/**
 *
 * [1] can be used on lists
 * [2] negative margin left cancels padding for outermost left grid units
 *
 */

#{$class-type}grid
{
	list-style: none;	// [1]
	margin: 0; 				// [1]
	padding: 0;				// [1]
	display: block;
	margin-left: ($grid-gutter * -1); // [2]
}


	/**
	 *
	 * grid aligned center
	 *
	 */

	#{$class-type}grid--center
	{
		text-align: center;

		& > #{$class-type}grid__unit
		{
			text-align: left;
		}
	}


	/**
	 *
	 * grid aligned right
	 *
	 */

	#{$class-type}grid--right
	{
		text-align: right;

		& > #{$class-type}grid__unit
		{
			text-align: left;
		}
	}

	/**
	 *
	 * grid gutterless
	 *
	 */

	 #{$class-type}grid--gutterless
	{
		margin-left: 0;

		& > #{$class-type}grid__unit
		{
			padding-left: 0;
		}
	}

	/**
	 *
	 * grid spaced
	 *
	 */

	 #{$class-type}grid--spaced
	{
		& > #{$class-type}grid__unit
		{
			margin-bottom: $grid-gutter;
		}
	}


/**
 *
 * grid items defined using inline-block
 * - more flexible than float
 * - we use border-box to define padding inside boxes
 *
 */

#{$class-type}grid__unit
{
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 100%;
	padding-left: $grid-gutter;
}

/**
 *
 * mixin to create our grid classes in all media queries
 * - classes are namespaced using breakpoints defined in mq-list
 *
 */

@mixin make-grid($namespace:"")
{
	#{$class-type}grid__unit--full { width:100%; }

	#{$class-type}grid__unit--#{$namespace}1of10 { width:1/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}2of10 { width:2/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}3of10 { width:3/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}4of10 { width:4/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}5of10 { width:5/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}6of10 { width:6/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}7of10 { width:7/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}8of10 { width:8/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}9of10 { width:9/10 * 100%; }

	#{$class-type}grid__unit--#{$namespace}1of12 { width:1/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}2of12 { width:2/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}3of12 { width:3/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}4of12 { width:4/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}5of12 { width:5/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}6of12 { width:6/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}7of12 { width:7/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}8of12 { width:8/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}9of12 { width:9/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}10of12 { width:10/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}11of12 { width:11/12 * 100%; }
}

/**
 *
 * mixin to create our push classes in all media queries
 * - classes are namespaced using breakpoints defined in mq-list
 *
 */

@mixin pushclasses($namespace:"")
{
	#{$class-type}grid__unit--#{$namespace}push-full { position:relative; left:100%; }

	#{$class-type}grid__unit--#{$namespace}push-1of10 { position:relative; left:1/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-2of10 { position:relative; left:2/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-3of10 { position:relative; left:3/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-4of10 { position:relative; left:4/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-5of10 { position:relative; left:5/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-6of10 { position:relative; left:6/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-7of10 { position:relative; left:7/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-8of10 { position:relative; left:8/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-9of10 { position:relative; left:9/10 * 100%; }

	#{$class-type}grid__unit--#{$namespace}push-1of12 { position:relative; left:1/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-2of12 { position:relative; left:2/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-3of12 { position:relative; left:3/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-4of12 { position:relative; left:4/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-5of12 { position:relative; left:5/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-6of12 { position:relative; left:6/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-7of12 { position:relative; left:7/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-8of12 { position:relative; left:8/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-9of12 { position:relative; left:9/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-10of12 { position:relative; left:10/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}push-11of12 { position:relative; left:11/12 * 100%; }
}

/**
 *
 * mixin to create our push classes in all media queries
 * - classes are namespaced using breakpoints defined in mq-list
 *
 */

@mixin pullclasses($namespace:"")
{
	#{$class-type}grid__unit--#{$namespace}pull-full { position:relative; right:100%; }

	#{$class-type}grid__unit--#{$namespace}pull-1of10 { position:relative; right:1/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-2of10 { position:relative; right:1/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-3of10 { position:relative; right:3/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-4of10 { position:relative; right:1/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-5of10 { position:relative; right:1/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-6of10 { position:relative; right:1/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-7of10 { position:relative; right:7/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-8of10 { position:relative; right:1/10 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-9of10 { position:relative; right:9/10 * 100%; }

	#{$class-type}grid__unit--#{$namespace}pull-1of12 { position:relative; right:1/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-2of12 { position:relative; right:2/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-3of12 { position:relative; right:3/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-4of12 { position:relative; right:4/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-5of12 { position:relative; right:5/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-6of12 { position:relative; right:6/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-7of12 { position:relative; right:7/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-8of12 { position:relative; right:8/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-9of12 { position:relative; right:9/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-10of12 { position:relative; right:10/12 * 100%; }
	#{$class-type}grid__unit--#{$namespace}pull-11of12 { position:relative; right:11/12 * 100%; }
}

/**
 *
 * create non namespaced grid / push / pull classes
 *
 */

@include make-grid();

@if ($use-pushclasses == true)
{
	@include pushclasses();
}
@if ($use-pullclasses == true)
{
	@include pullclasses();
}

/**
 *
 * create namespaced grid classes
 * - using breakpoints defined in _variables.scss
 *
 */

@each $mq-name, $mq-params in $mq-list
{
  $mq-query: map-get($mq-params, query);
  $mq-grid: map-get($mq-params, generate-grid-classes);

  @if ($mq-grid == true)
  {
    @media #{$mq-query} {

      // generate default grid classes for all media queries
      @include make-grid("#{$mq-name}");

      // generate push grid classes for all media queries
      @if ($use-pushclasses == true)
			{
				@include pushclasses("#{$mq-name}");
			}

      // generate pull grid classes for all media queries
			@if ($use-pullclasses == true)
			{
				@include pullclasses("#{$mq-name}");
			}
    }
  }
}
