/* ==================================
=main layout
================================== */

/*
 * Layered layout mechanism
 * - everythng is in a 100% wide block (colors)
 * - .container manages max-width and center things
 *
 * Grids are handled in layout/_grid.scss
**/

.container
{
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 960px;

  @include mq(large)
  {
    padding-left: percentage(90/1140);
    padding-right: percentage(90/1140);
  }
}

  /**
   * Variant when needs to overlay a picture / previous block
  */
  .container--overlay
  {
    padding-top: 60px;
    margin-top: -120px;
    z-index: 50;

    @include mq(medium)
    {
      padding-top: 80px;
      margin-top: calc-em(-160px);
    }

    @include mq(large)
    {
      padding-top: 100px;
      margin-top: calc-em(-180px);
    }
  }

  .container--highlight
  {
    background: $color-main1;
  }

/*
 * Content modules
 *
 * - handle vertical spacing
 * - background color variations
 * - content submodules
 *
**/

.contentmodule
{
  padding-top: calc-em(60px);
  padding-bottom: calc-em(60px);

  @include mq(medium)
  {
    padding-top: calc-em(100px);
    padding-bottom: calc-em(100px);
  }

  @include mq(large)
  {
    padding-top: calc-em(120px);
    padding-bottom: calc-em(120px);
  }
}

  /**
   * Color variations
  */

  .contentmodule--highlight
  {
    background-color: $color-main1;
  }

  .contentmodule--dark
  {
    background-color: $color-base7;
    color: $color-base5;
  }


  /**
   * content submodules
   *
   * used to create vertical whitespace when various content blocks are used
   * in one module
  */

  .contentsubmodule + .contentsubmodule
  {
    margin-top: calc-em(40px);

    @include mq(medium)
    {
      margin-top: calc-em(60px);
    }

    @include mq(large)
    {
      margin-top: calc-em(80px);
    }
  }
