/* ==================================
=clearfix
================================== */

.clearfix:after,
%clearfix:after
{
  content: "";
  display: table;
  clear: both;
}

/* ==================================
=text alignment
================================== */

.aligncenter
{
  text-align: center;
}

.alignright
{
  text-align: right;
}

/* ==================================
=hide
================================== */

%visuallyhidden, .visuallyhidden
{
	position:absolute;
	top:0;
	left:-9999px;
	overflow:hidden;
}

%offleft, .offleft
{
	text-indent: -9999px;
	overflow: hidden;
}
