/* ==================================
=grid configuration
================================== */

/**
 * small:    500px    31.25em
 * medium:   760px    46.875em
 * large:    1024px   64em
 * xlarge:   1140px   71.25em
 * xxlarge:  1500px   93.75em
*/

$mq-list: (
  "small": (
    query: "all and (min-width: 31.25em)",
    generate-grid-classes: true
  ),
  "medium": (
    query: "all and (min-width: 47.5em)",
    generate-grid-classes: true
  ),
  "large": (
    query: "all and (min-width: 64em)",
    generate-grid-classes: true
  ),
  "xlarge": (
    query: "all and (min-width: 71.25em)",
    generate-grid-classes: false
  ),
  "xxlarge": (
    query: "all and (min-width: 93.75em)",
    generate-grid-classes: false
  )
);


/* ==================================
=typography
================================== */

$fontstack-main: "proxima-nova", Helvetica, Arial, sans-serif;
$fontstack-alt: "bookmania", Georgia, Times, serif;


/* ==================================
=colors
================================== */

// yellows and oranges
$color-main1: #FFED00;
$color-main2: #FFDD00;
$color-main3: #E0A225;
$color-main4: #F08700;

// blues
$color-accent1: #00ABE7;
$color-accent2: #067BC2;
$color-accent3: #006494;
$color-accent4: #004567;

// base grays
$color-base1: #FBFBFB;
$color-base2: #F8F8F8;
$color-base3: #E5E5E5;
$color-base4: #C9C9C9;
$color-base5: #9D9D9D;
$color-base6: #595959;
$color-base7: #2F2F2F;
$color-base8: #221F1F;
