/* ==================================
=base typography
================================== */

/**
 * All font sizes based on Modular Scale
 * <http://www.modularscale.com/?16,60&px&1.333&web&text>
*/

html
{
  font: normal 100%/1.5 $fontstack-main;
}

body
{
  background: #fff;
  color: $color-base7;

  @include mq(large)
  {
    @include rem-size(18px);
  }
}


/* ==================================
=titles
================================== */

/* =titles classes
================================== */

%title
{
  margin: 0 0 0.5em 0;
  font-family: $fontstack-alt;
  line-height: 1.1;
  color: $color-base8;
}

.h1
{
  @extend %title;
  @include rem-size(29px);
  font-weight: 600;

  @include mq(medium)
  {
    @include rem-size(37px);
    font-weight: 600;
  }

  @include mq(large)
  {
    @include rem-size(47px);
  }
}

  .h1--highlight
  {
    color: $color-main1;
  }


.h2
{
  @extend %title;
  margin-bottom: 1em;
  @include rem-size(23px);
  font-weight: 600;

  @include mq(large)
  {
    @include rem-size(29px);
  }
}

  .h2--highlight
  {
    color: $color-main1;
  }


.h3
{
  @extend %title;
  @include rem-size(18px);
  font-weight: 700;

  @include mq(large)
  {
    @include rem-size(23px);
  }
}

  .h3--highlight
  {
    color: $color-main1;
  }

.h4
{
  @extend %title;
  @include rem-size(16px);
  font-weight: 700;

  @include mq(large)
  {
    @include rem-size(18px);
  }
}

  .h4--highlight
  {
    color: $color-main1;
  }

/* =custom titles
================================== */

.suptitle
{
  margin-bottom: 0.15em;
  font-family: $fontstack-alt;
  @include rem-size(18px);
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  color: $color-base6;
}

.footertitle
{
  @extend %title;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  @include rem-size(18px);
  font-weight: 600;

  @include mq(medium)
  {
    margin-top: 0;
  }

  @include mq(large)
  {
    @include rem-size(21px);
  }
}

/* =titles WYSIWYG
================================== */



/* ==================================
=Text styles
================================== */

.text-intro
{
  @include rem-size(18px);
  line-height: 1.4;

  @include mq(medium)
  {
    @include rem-size(19px);
    font-weight: 300;
  }

  @include mq(large)
  {
    @include rem-size(21px);
  }
}

.text-small
{
  @include rem-size(14px);

  @include mq(large)
  {
    @include rem-size(16px);
  }
}
