/* ==================================
=buttons
================================== */

.button
{
  display: inline-block;
  padding: 1em 2em 0.8em;
  border: 5px solid $color-main1;
  font-family: $fontstack-main;
  @include rem-size(14px);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: $color-base7;

  transition: all 0.2s linear;

  &:hover
  {
    border-color: $color-base3;
    color: $color-base6;
    text-decoration: none;
  }
}
