/* ==================================
=links
================================== */

a
{
  color: $color-accent1;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover
  {
    color: $color-accent2;
    text-decoration: none;
  }
}

/* ==================================
=block links
================================== */

.blocklink, .blocklink:hover
{
  text-decoration: none;
  border: none;
}
