/* ==================================
=links
================================== */

a
{
  color: $color-accent1;
  text-decoration: none;

  &:hover
  {
    color: $color-accent1;
    text-decoration: underline;
  }
}

/* ==================================
=block links
================================== */

.blocklink, .blocklink:hover
{
  text-decoration: none;
}
