/* ==================================
=list helpers
================================== */

/**
 * Remove all list attributes
*/

.list-bare
{
  @include list-bare();
}

.list-stripped
{
  @include list-bare();
  margin-bottom: 1em;
}

/**
 * list with spacing between li
 * - spacing variations
*/

.list-vspace
{
  @include list-bare();

  & > li
  {
    margin-bottom: 1em;

    &:last-child
    {
      margin-bottom: 0;
    }
  }

  // spacing variations
  &--small > li
  {
    margin-bottom: 0.75em;
  }

  &--medium > li
  {
    margin-bottom: 2.11em;
  }

  &--large > li
  {
    margin-bottom: 2.813em;
  }
}

/* ==================================
=case studies items
================================== */

.list-casestudy
{
  @include list-bare();
}

.list-casestudy__item
{
  margin-bottom: 0.5em;
  font-family: $fontstack-alt;
  @include rem-size(16px);
  font-style: italic;
  font-weight: 600;
  color: $color-base5;

  &:last-child
  {
    margin-bottom: 0;
  }
}
