/* ==================================
=media containers
================================== */

.imgcontainer
{
  margin: 0;
  padding: 0;
}

/* ==================================
=fluid images
================================== */

.fluidimg
{
  max-width: 100%;
}
