/* ==================================
=motto
================================== */

.motto
{
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin-top: calc-em(40px);
  margin-bottom: calc-em(40px);

  @include mq(medium)
  {
    flex-direction: row;
    align-items: center;

    margin-top: calc-em(80px);
    margin-bottom: calc-em(80px);
  }

  @include mq(large)
  {
    margin-top: calc-em(160px);
    margin-bottom: calc-em(160px);
  }
}

.motto__img
{
  margin: 0 1em 0 0;
  padding: 0;

  // fallback for non flexbox browsers
  @include mq(medium)
  {
    float:left;
  }

}

.motto__body
{
  flex: 1;
  margin-top: calc-em(22px);

  // fallback for non flexbox browsers
  overflow: hidden;

  @include mq(medium)
  {
    margin-top: 0;
  }

}

.motto__txt
{
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-family: $fontstack-alt;
  @include rem-size(21px);
  line-height: 1.25;

  @include mq(small)
  {
    @include rem-size(25px);
    font-weight: 400;
  }

  @include mq(medium)
  {
    @include rem-size(34px);
    line-height: 1.15;
  }

  @include mq(large)
  {
    @include rem-size(38px);
  }
}

/* ==================================
=teams
================================== */

/**
 * Manages spacing and backgrounds for both teams
*/

.team
{
  margin-top: calc-em(40px);

  @include mq(medium)
  {
    margin-top: calc-em(60px);
  }

  @include mq(large)
  {
    margin-top: calc-em(80px);
  }
}

.team--internal
{
  padding-bottom: 100px;
  background: url(../../img/bkg_plus.svg) bottom center no-repeat;

  @include mq(medium)
  {
    padding-bottom: calc-em(120px);
  }

  @include mq(large)
  {
    padding-bottom: calc-em(120px);
  }
}
