/* ==================================
=intro
================================== */

.homeintro
{
  padding-top: calc-em(60px);
  padding-bottom: calc-em(60px);

  @include mq(small)
  {
    padding-top: calc-em(100px);
    padding-bottom: calc-em(100px);
  }

  @include mq(medium)
  {
    padding-top: calc-em(140px);
    padding-bottom: calc-em(140px);
  }

  @include mq(large)
  {
    padding-top: calc-em(160px);
    padding-bottom: calc-em(160px);
  }
}

/* ==================================
=motto
================================== */

.motto
{
  @include mq(small)
  {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
}

.motto__txt
{
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-family: $fontstack-alt;
  @include rem-size(21px);
  line-height: 1.25;

  @include mq(small)
  {
    @include rem-size(25px);
    font-weight: 400;
  }

  @include mq(medium)
  {
    @include rem-size(34px);
    line-height: 1.15;
  }

  @include mq(large)
  {
    @include rem-size(38px);
  }
}

/* ==================================
=teams
================================== */

/**
 * Manages spacing and backgrounds for both teams
*/

.team
{
  margin-top: calc-em(40px);

  @include mq(medium)
  {
    margin-top: calc-em(60px);
  }

  @include mq(large)
  {
    margin-top: calc-em(80px);
  }
}

.team--internal
{
  padding-bottom: 100px;
  background: url(../../img/bkg_plus.svg) bottom center no-repeat;

  @include mq(medium)
  {
    padding-bottom: calc-em(120px);
  }

  @include mq(large)
  {
    padding-bottom: calc-em(120px);
  }
}
